*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #30BFCE;
  }
  
  ::selection {
    color:white;
    background: #30BFCE;
  }
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:active, input:focus {
    outline: none;
  }
  input::-moz-focus-inner {
    border: 0;
  }
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.sticky{
    background-color:white;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    border-top: 0;
}
.navbar{
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-menu{
    display: none;
}
.anchor{
    margin-top: -110px;
    padding-top: 110px;
}
.menu{
    display: flex;
    width: 580px;
    justify-content: space-between;
}
.menu-item{
    list-style: none;
}
.menu-item-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #30BFCE;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.menu-item-link:hover{
    color: #2B2B2B;
}
.slogan-bg{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    height: 671px;
    /* margin-top: 110px; */
    padding-top: 110px;
    background-position: center top;
    background-attachment: fixed;
    background-size: 100% 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slogan-inside{
    width: 500px;
    /* height: 434px; */
    height: 70%;
    margin: auto;
    background-color: rgba(238, 238, 238, 0.78);
    border-radius: 24px;
    padding: 24px 60px 24px 60px;
}
.slogan-title-h3{
    font-size: 28px;
    color: #30BFCE;
    line-height: 47px;
    font-weight: 700;
    text-align: center;
}
.slogan-description-p{
    color: #484848;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.form-line{
    display: flex;
    flex-direction: column;
}
.form-dane{
    border-radius: 12px;
    height: 17px;
    padding: 20px;
    border: 2px solid #30BFCE;
    background-color: white;
    
}
.form-dane::placeholder{
    color: #484848;
    font-size: 12px;
    font-weight: 400;
}
.form-dane:focus{
    border: 2px solid #30BFCE;
}
.slogan-desc-below{
    font-size: 10px;
    color: #484848;
    line-height: 18px;
    text-align: center;
    margin-top: 10px;
}
.button-submit{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.submit-button{
    width: 100% !important;
    margin: auto;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    background-color: #30BFCE;
    border-radius: 12px;
    padding: 14px 26px;
    border: 2px solid #30BFCE;
    color: white;
}
.submit-button:hover{
    background-color: transparent;
    color: white;
}
.feedback{
    color: #30BFCE;
    margin-top: 80px;
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    border: 2px solid #30BFCE;
}
.feedback-disabled{
    display: none;
}
.slogan-info-title{
    padding-top: 50px;
    color: #30BFCE;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.slogan-info-ps{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.slogan-ingo-p-left{
    width: 45%;
    font-size: 14px;
    font-weight: 400;
    color: #7C7C7C;
}
.slogan-info-p-right{
    width: 45%;
    font-size: 14px;
    font-weight: 400;
    color: #7C7C7C;
}
.slogan-span-bold{
    font-size: 14px;
    font-weight: 700;
    color: #7C7C7C;
}
.slogan-icons{
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
}
.icon-div{
    width: 126px;
}
.icon-sl{
    color: #30BFCE;
    font-size: 39px;
    display: flex !important;
    justify-content: center;
}
.icon-p{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #7C7C7C;
    text-transform: uppercase;
    text-align: center;
}
.restoration-title-bg{
    background-color: #d5f3f7;
    height: 136px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.restoration-title{
    font-size: 28px;
    font-weight: 700;
    height: 100%;
    color: #646464;
    text-align: center;
}
.restoration-info{
    width: 500px;
    margin: auto;
}
.rest-first{
    display: flex;
    justify-content: space-between;
}
.restoration-img-div{
    width: 50%;
    height: 496px;
}
.restoration-img-f{
    width: 100%;
    height: 496px;
}
.restoration-img-l{
    width: 100%;
    height: 496px;
}
.restoaration-main-bg{
    background-color: #e6f7f9;
}
.restoration-info-title{
    display: flex;
    justify-content: space-between;
}
.restoration-title-ten{
    font-size: 30px;
    color: #30BFCE;
    font-weight: 700;
    width: 60px;
}
.restoration-title-text{
    font-size: 21px;
    font-weight: 700;
    color: #646464;
}
.step-mt{
    margin-top: 35px;
}
.step{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    align-items: center;
}
.step-number{
    width: 50px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    width: 10%;
}
.step-text{
    width: 75%;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: #7C7C7C;
}
.steps-div-fir{
    background-image: url(../img/steps-blob.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.steps-div-sec{
    background-image: url(../img/steps-bath.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.services-bg{
    padding-top: 45px;
    background-image: url(../img/servicesBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    /* width: 100%; */
}
.services-title-h2{
    font-size: 28px;
    color: #30BFCE;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.services-desc{
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.services-footer-title{
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 40px;
}
.services-blocks{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.services-block{
    width: 236px;
    padding: 30px 57px;
    background-color: white;
}
.serv-block-title{
    color: #30BFCE;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    height: 70px;
}
.serv-block-price{
    border: 2px solid #30BFCE;
    background-color: white;
    border-radius: 12px;
    color: #7C7C7C;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 20px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.serv-block-description{
    color: #7C7C7C;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
    line-height: 18px;
    height: 50px;
}
.services-block-form{
    margin-top: 23px;
    display: flex;
    justify-content: center;
}
.submit-a-services{
    background-color: #30BFCE;
    text-transform: uppercase;
    border: 2px solid #30BFCE;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-radius: 12px;
    padding: 14px 26px;
    text-decoration: none;
    margin-top: 23px !important;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.submit-a-services:hover{
    background-color: transparent;
    color: #30BFCE;
}
.submit-button-services{
    background-color: #30BFCE;
    text-transform: uppercase;
    border: 2px solid #30BFCE;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-radius: 12px;
    padding: 14px 26px;
    width: 100%;
}
.submit-button-services:hover{
    background-color: transparent;
    color: #30BFCE;
}
.services-footer-icon-block{
    display: flex;
    justify-content: space-between;
}
.serv-p-block{
    color: white;
}
.services-footer-icon-block{
    padding-bottom: 60px;
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}
.serv-icon-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serv-p-block{
    margin-left: 10px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.main-block-title{
    padding-top: 100px;
    color: #30BFCE;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    /* scroll-padding-top: 100px; */
    scroll-snap-align: start;
}
.photo-grid{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    grid-template-rows: 260px 260px 260px;
    row-gap: 70px;
    justify-content: space-between;   
    margin-bottom: 100px; 
}
.photo-item{
    width: 100%;
}
.remodal{
    width: 100%;
}
.img-remodal-inside{
    width: 100%;
}
.contact-custom-p{
    padding-top: 50px ;
}
.contact-bg{
    background-color: #30BFCE1A;
    /* height: 700px; */
}
.contact-p{
    margin-top: 30px !important;
    color: #7C7C7C;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    text-align: center;
    width: 450px;
    margin-bottom: 50px;
}
.contact-info{
    display: flex;
    justify-content: space-between;
}
#map{
    border-radius: 24px;
}
.contact-form-div{
    width: 45%;
    height: 400px;
    margin-bottom: 90px;
    padding: 30px 40px;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.79);
    border-radius: 24px;
    border: 2px solid #30BFCE;
}
.form-con-input{
    height: 15px;
    margin-bottom: 15px;
}
footer{
    background-color: #333333;
}
.footer-main{
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-bg{
    background-color: #2B2B2B;
    height: 56px;
}
.footer-logo{
    margin-bottom: 10px;
}
.footer-logo-p{
    color: #FFFFFF;
    font-size: 12px;
    font-weight: 400;
    margin-top: 10px;
}
.footer-c-width{
    margin: auto;
}
.footer-logo-div{
    width: 45%;
}
.custom-mb{
    margin-bottom: 50px;
}
.footer-con-title{
    text-transform: uppercase;
    color: #30BFCE;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
    text-decoration: none;
}
.footer-block{
    display: flex;
    flex-direction: row !important;
    margin-bottom: 20px;
}
.footer-col-img{
    color: #30BFCE;
    font-size: 16px;
}
.footer-col-inf{
    color: white;
    font-size: 12px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 7px;
}
.footer-col-inf:hover{
    color: #30BFCE;
}
.footer-col-ico{
    width: 16px;
    fill: #30BFCE;
}
.footer-menu{
    display: flex;
    flex-direction: column;
}
.footer-link{
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 10px;
}
.footer-link:hover{
    color: #30BFCE;
}
.footer-bottom {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-bottom-info{
    color: white;
}
.footer-bottom-link{
    color: white;
    text-decoration: none;
}
.footer-bottom-link:hover{
    color: #30BFCE;
}

/* Iphone from 5 to 8plus */
@media screen and (min-width: 315px) and (max-width: 425px){
    .mobile-menu{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    }
    .top-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 90%;
        margin: auto;
    }
    .mobile-logo{
        width: 200px;
    }
    .menu-mobile-block{
        margin-top: 40px;
        max-height: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .menu-mobile-block li a{
        text-decoration: none;
        color: #66667E;
        font-weight: 300;
        font-size: 20px;
        transition: color 0.5s ease;
        
    }
    .menu-mobile-block li{
        margin-bottom: 50px;
        text-align: center;
    }
    #navbar{
        display: none;
    }
    .mobile-burger-img{
        color: #30BFCE;
        font-size: 36px;
    }
    .slogan-bg{
        background-image: none;
        background-color: #30BFCE1F;
        height: 500px;
        width: 100%;
        margin-top: 100px;
    }
    .slogan-inside{
        width: 75%;
        height: 400px;
        padding: 14px 20px;
        background-color: unset;
    }
    .slogan-title-h3{
        font-size: 18px;
        line-height: unset;
    }
    .slogan-description-p{
        font-size: 14px;
        line-height: unset;
    }
    .form-dane{
        /* width: 240px; */
        font-size: 16px;
    }
    .button-submit{
        justify-content: unset;
    }
    .slogan-desc-below{
        font-size: 10px;
    }
    .slogan-info-ps{
        flex-direction: column;
    }
    .slogan-ingo-p-left{
        width: 100%;
    }
    .slogan-info-p-right{
        width: 100%;
        margin-top: 10px;
    }
    .slogan-icons{
        width: 100%;
        align-items: flex-start;
    }
    .icon-div{
        width: 80px;
    }
    .icon-sl{
        font-size: 19px;
    }
    .icon-p{
        font-size: 9px;
    }
    .restoration-title-bg{
        height: 75px;
    }
    .restoration-info{
        width: unset;
    }
    .restoration-info-title{
        width: 300px;
        align-items: center;
        margin: auto;
    }
    .restoration-title{
        font-size: 19px;
    }
    .rest-first{
        flex-direction: column;
    }
    .restoration-title-text{
        font-size: 17px;
        width: 100%;
    }
    .steps-div-fir{
        width: 90%;
        background-image: none;
        margin: auto;
    }
    .step-number{
        width: unset;
        padding: 0px 5px 0px 0px;
    }
    .restoration-img-div{
        width: 90%;
        margin: auto;
        height: unset;
        margin-top: 20px;
    }
    .restoration-img-f{
        height: unset;
    }
    .restoration-img-l{
        height: unset;
    }
    .restoration-img-order{
        order: 2;
    }
    .restoration-steps-order{
        order: 1;
    }
    .steps-div-sec{
        background-image:none;
        width: 90%;
        background-image: none;
        margin: auto;
    }
    .services-bg{
        background-image: none;
        background-color: #646464;
    }
    .services-blocks{
        flex-direction: column;
    }
    .services-block{
        width: 90%;
        box-sizing: border-box;
        padding: 20px;
        margin: auto;
        margin-bottom: 15px;
        border-radius: 7px;
    }
    .submit-button-services{
        /* width: 234px; */
        padding: 12px 20px;
    }
    .services-title-h2{
        font-size: 24px;
    }
    .services-desc{
        font-size: 18px;
        margin-top: 20px;
    }
    .services-footer-icon-block{
        width: 100%;
        flex-direction: column;
    }
    .serv-icon-block{
        justify-content: unset;
        margin-bottom: 10px;
    }
    .photo-grid{
        grid-template-rows: 260px 260px 260px 260px;
        grid-template-columns: 260px;
        justify-content: center;
        row-gap: 30px;
        margin-bottom: 20px;
    }
    .img-remodal-inside{
        width: 300px;
    }
    .contact-p{
        width: unset;
    }
    .contact-info{
        flex-direction: column;
    }
    .contact-form-div{
        width: 100%;
        padding: 35px 35px;
        box-sizing: border-box;
        height: unset;
        margin-top: 50px;
    }
    #map{
        width: 100% !important;
        margin-bottom: 20px;
    }

    .footer-main{
        flex-direction: column;
    }
    .footer-logo-div{
        width: 80%;
        margin: auto;
        text-align: center;
    }
    .footer-c-width{
        width: 80%;
    }
    .footer-bottom{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .footer-bottom-mt{
        margin-top: 10px;
    }
    .footer-bottom-info{
        margin-bottom: 10px;
    }
    .footer-bottom-bg{
        height: 110px;
    }
    .footer-link{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer-con-title{
        font-size: 16px;
        text-align: center;
        
    }
    .footer-col-inf{
        font-size: 16px;
    }
    .footer-col-img{
        font-size: 16px;
    }
    .footer-menu {
        text-align: center;
    }
    .footer-block {
        justify-content: center;
    }
    .footer-c-width {
        margin-top: 50px;
    }
}
/* iphone 5 */
@media screen and (min-width: 315px) and (max-width: 350px){
    .slogan-inside{
        width: 260px;
        /* width: 70%; */
        padding: 13px;
    }
    .contact-form-div{
        padding: 25px 25px;
        height: unset;
        margin-top: 50px;
    }
    .form-dane{
        padding: 12px;
        /* width: 232px; */
    }
    .form-con-input{
        padding: 15px;
        /* width: 197px !important; */
    }

    .footer-c-width{
        margin: unset;
        width: unset;
    }
    .footer-logo-div{
        width: unset;
        margin: unset;
        text-align: center;
    }
    .footer-bottom-bg{
        height: 110px;
    }
    .serv-block-price{
        padding: 10px;
        /* width: 180px; */
    }
    .submit-button-services{
        width: 204px;
        padding: 10px;
    }
    .serv-block-title{
        font-size: 18px;
    }
    .serv-block-description{
        font-size: 13px;
    }
    .services-block{
        padding: 25px;
        width: unset;
    }
    .restoration-title-bg{
        height: 100px;
    }
    .restoration-info-title{
        width: 276px;
    }
    .steps-div-fir{
        width: 80%;
    }
    .img-remodal-inside{
        width: 100%;
    }
    .footer-menu {
        text-align: center;
    }
    .footer-block {
        justify-content: center;
    }
    .footer-c-width {
        margin-top: 50px;
    }
}
/* tablets */
@media screen and (min-width: 426px) and (max-width: 840px){
    .mobile-menu{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    }
    .top-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 90%;
        margin: auto;
    }
    .mobile-logo{
        width: 200px;
    }
    .menu-mobile-block{
        margin-top: 40px;
        max-height: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .menu-mobile-block li a{
        text-decoration: none;
        color: #66667E;
        font-weight: 300;
        font-size: 20px;
        transition: color 0.5s ease;
        
    }
    .menu-mobile-block li{
        margin-bottom: 50px;
        text-align: center;
    }
    #navbar{
        display: none;
    }
    .mobile-burger-img{
        color: #30BFCE;
        font-size: 36px;
    }
    .slogan-bg{
        /* background-image: none; */
        /* background-color: #30BFCE1F; */
        height: 500px;
        width: 100%;
        margin-top: 100px;
    }
    .slogan-inside{
        width: 75%;
        /* height: 350px; */
        padding: 24px 60px;
        /* background-color: unset; */
    }
    .slogan-title-h3{
        font-size: 18px;
        line-height: unset;
    }
    .slogan-description-p{
        font-size: 14px;
        line-height: unset;
    }
    .form-dane{
        font-size: 16px;
    }
    .submit-button{
        width: 60%;
        margin: auto;
    }
    .button-submit{
        justify-content: unset;
    }
    .slogan-desc-below{
        font-size: 10px;
    }
    .slogan-info-ps{
        flex-direction: column;
    }
    .slogan-ingo-p-left{
        width: 100%;
    }
    .slogan-info-p-right{
        width: 100%;
        margin-top: 10px;
    }
    .slogan-icons{
        width: 100%;
        align-items: flex-start;
    }
    .icon-div{
        width: 80px;
    }
    .icon-sl{
        font-size: 19px;
    }
    .icon-p{
        font-size: 9px;
    }
    .restoration-title-bg{
        height: 75px;
    }
    .restoration-info{
        width: unset;
        margin: unset;
    }
    .restoration-img-div{
        height: 400px;
    }
    
    .restoration-info-title{
        width: 90%;
        align-items: center;
        margin: auto;
    }
    .restoration-title{
        font-size: 19px;
    }
    .rest-first{
        flex-direction: column;
    }
    .restoration-title-text{
        font-size: 17px;
        width: 100%;
    }
    .steps-div-fir{
        width: 90%;
        background-image: none;
        margin: auto;
    }
    .step-number{
        width: unset;
        padding: 0px 5px 0px 0px;
    }
    .restoration-img-div{
        width: 80%;
        margin: auto;
        height: unset;
        margin-top: 20px;
    }
    .restoration-img-f{
        height: 400px;
    }
    .restoration-img-l{
        height: 400px;
    }
    .restoration-img-order{
        order: 2;
    }
    .restoration-steps-order{
        order: 1;
    }
    .steps-div-sec{
        background-image:none;
        width: 90%;
        background-image: none;
        margin: auto;
    }
    .services-bg{
        background-image: none;
        background-color: #646464;
    }
    .services-blocks{
        flex-direction: column;
    }
    .services-block{
        width: 80%;
        box-sizing: border-box;
        padding: 35px;
        margin: auto;
        margin-bottom: 15px;
        border-radius: 7px;
    }
    .submit-button-services{
        /* width: 234px; */
        padding: 12px 20px;
    }
    .serv-block-price{
        width: unset;
    }
    .services-title-h2{
        font-size: 24px;
    }
    .services-desc{
        font-size: 18px;
        margin-top: 20px;
    }
    .services-footer-icon-block{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .serv-p-block{
        font-size: 17px;
    }
    .serv-icon-block{
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .main-block-title{
        padding-top: 50px;
    }
    /* before - 240px */
    .photo-grid{
        grid-template-rows: 170px;
        grid-template-columns: 170px 170px;
        justify-content: center;
        row-gap: 15px;
        grid-gap: 15px;
    }
    .img-remodal-inside{
        width: 300px;
    }
    .contact-p{
        width: unset;
    }
    .contact-info{
        flex-direction: column;
    }
    .contact-form-div{
        width: 100%;
        padding: 35px 35px;
        box-sizing: border-box;
        height: unset;
        margin-top: 50px;

    }
    #map{
        width: 100% !important;
        margin-bottom: 20px;
    }

    .footer-main{
        flex-direction: column;
    }
    .footer-logo-div{
        width: 90%;
        margin: auto;
        text-align: center;
    }
    .footer-c-width{
        width: 90%;
    }
    .footer-bottom{
        flex-direction: column;
    }
    .footer-bottom-mt{
        margin-top: 10px;
    }
    .footer-bottom-info{
        margin-bottom: 10px;
    }
    .footer-bottom-bg{
        height: 70px;
    }
    .footer-link{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer-con-title{
        font-size: 16px;
        text-align: center;
        
    }
    .footer-col-inf{
        font-size: 16px;
    }
    .footer-col-img{
        font-size: 16px;
    }
    .footer-menu {
        text-align: center;
    }
    .footer-block {
        justify-content: center;
    }
    .footer-c-width {
        margin-top: 50px;
    }
}
@media screen and (min-width: 600px) and (max-width: 840px){
    .photo-grid{
        grid-template-columns: 230px 230px;
        grid-template-rows: 230px;
    }
}
@media screen and (min-width: 841px) and (max-width: 1024px){
    .container{
        width: 80%;
    }
    .mobile-menu{
        display: flex;
        flex-direction: column;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.10);
    }
    .top-menu{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        width: 90%;
        margin: auto;
    }
    .mobile-logo{
        width: 200px;
    }
    .menu-mobile-block{
        margin-top: 40px;
        max-height: 0;
        margin: 0;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
    }
    .menu-mobile-block li a{
        text-decoration: none;
        color: #66667E;
        font-weight: 300;
        font-size: 20px;
        transition: color 0.5s ease;
        
    }
    .menu-mobile-block li{
        margin-bottom: 50px;
        text-align: center;
    }
    #navbar{
        display: none;
    }
    .mobile-burger-img{
        color: #30BFCE;
        font-size: 36px;
    }
    .slogan-bg{
        /* background-image: none; */
        /* background-color: #30BFCE1F; */
        height: 500px;
        width: 100%;
        margin-top: 100px;
    }
    .slogan-inside{
        width: 60%;
        height: 350px;
        padding: 24px 60px;
        /* background-color: unset; */
    }
    .slogan-title-h3{
        font-size: 18px;
        line-height: unset;
    }
    .slogan-description-p{
        font-size: 14px;
        line-height: unset;
    }
    .form-dane{
        font-size: 16px;
    }
    .submit-button{
        width: 535px;
        margin: auto;
    }
    .button-submit{
        justify-content: unset;
    }
    .slogan-desc-below{
        font-size: 10px;
    }
    .slogan-info-ps{
        flex-direction: column;
    }
    .slogan-ingo-p-left{
        width: 100%;
    }
    .slogan-info-p-right{
        width: 100%;
        margin-top: 10px;
    }
    .slogan-icons{
        width: 100%;
        align-items: flex-start;
    }
    .icon-div{
        width: 80px;
    }
    .icon-sl{
        font-size: 19px;
    }
    .icon-p{
        font-size: 9px;
    }
    .restoration-title-bg{
        height: 75px;
    }
    .restoration-info{
        width: 50%;
    }
    .restoration-img-div{
        height: 400px;
    }
    
    .restoration-info-title{
        width: 80%;
        align-items: center;
        margin: auto;
    }
    .restoration-title{
        font-size: 19px;
    }
    .restoration-title-text{
        font-size: 17px;
        width: 100%;
    }
    .steps-div-fir{
        width: 80%;
        background-image: none;
        margin: auto;
    }
    .step-number{
        width: unset;
        padding: 0px 5px 0px 0px;
    }
    .restoration-img-div{
        width: 50%;
        margin: auto;
        /* height: unset; */
        /* margin-top: 20px; */
    }
    .step-mt{
        margin-top: unset;
    }
    .restoration-img-f{
        height: 400px;
    }
    .restoration-img-l{
        height: 400px;
    }
    
    .steps-div-sec{
        background-image:none;
        width: 80%;
        background-image: none;
        margin: auto;
    }
    .services-block{
        width: 250px;
        box-sizing: border-box;
        padding: 26px;
        margin: auto;
        margin-bottom: 15px;
        border-radius: 7px;
    }
    .submit-button-services{
        /* width: 234px; */
        padding: 12px 20px;
    }
    .serv-block-price{
        width: unset;
    }
    .serv-block-title{
        height: 40px;
        font-size: 18px;
    }
    .serv-block-description{
        font-size: 12px;
        margin-top: 20px;
        line-height: unset;
    }
    .services-title-h2{
        font-size: 24px;
    }
    .services-desc{
        font-size: 18px;
        margin-top: 20px;
    }
    .services-footer-icon-block{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .serv-p-block{
        font-size: 17px;
    }
    .serv-icon-block{
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .main-block-title{
        padding-top: 50px;
    }
    .photo-grid{
        grid-template-rows: 165px;
        grid-template-columns: 165px 165px 165px 165px;
        justify-content: center;
        row-gap: 15px;
        grid-gap: 15px;
    }
    .img-remodal-inside{
        width: 300px;
    }
    .contact-p{
        width: unset;
    }
    .contact-form-div{
        width: 45%;
        padding: 20px 35px;
        box-sizing: border-box;
    }
    #map{
        width: 50% !important;
        margin-bottom: 20px;
    }


    .footer-logo-div{
        margin: 0 auto;
    }
    .footer-c-width{
        margin: 0 auto;
    }
    .footer-bottom-mt{
        margin-top: 10px;
    }
    .footer-bottom-info{
        margin-bottom: 10px;
    }
    .footer-bottom-bg{
        height: 70px;
    }
    .footer-link{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer-con-title{
        font-size: 16px;
    }
    .footer-col-inf{
        font-size: 16px;
    }
    .footer-col-img{
        font-size: 16px;
    }
}
@media screen and (min-width: 1025px) and (max-width: 1279px){
    .container{
        width: 80%;
    }
    .menu{
        width: 470px;
    }
    .menu-item-link{
        font-size: 16px;
    }
    .slogan-bg{
        margin: auto 0;
        height: 500px;
        width: 100%;
        margin-top: 100px;
    }
    .slogan-inside{
        width: 550px;
        height: 350px;
        padding: 24px 60px;
    }
    .slogan-title-h3{
        font-size: 18px;
        line-height: unset;
    }
    .slogan-description-p{
        font-size: 14px;
        line-height: unset;
    }
    .form-dane{
        font-size: 16px;
    }
    .submit-button{
        /* width: 535px; */
        width: 70% !important;
        margin: auto;
    }
    .button-submit{
        justify-content: unset;
    }
    .slogan-desc-below{
        font-size: 10px;
    }
    .slogan-info-ps{
        flex-direction: column;
    }
    .slogan-ingo-p-left{
        width: 100%;
    }
    .slogan-info-p-right{
        width: 100%;
        margin-top: 10px;
    }
    .slogan-icons{
        width: 100%;
        align-items: flex-start;
    }
    .icon-div{
        width: 80px;
    }
    .icon-sl{
        font-size: 19px;
    }
    .icon-p{
        font-size: 9px;
    }
    .restoration-title-bg{
        height: 75px;
    }
    .restoration-info{
        width: 50%;
    }
    .restoration-img-div{
        height: 400px;
    }
    
    .restoration-info-title{
        width: 80%;
        align-items: center;
        margin: auto;
    }
    .restoration-title{
        font-size: 19px;
    }
    .restoration-title-text{
        font-size: 17px;
        width: 100%;
    }
    .steps-div-fir{
        width: 80%;
        margin: auto;
    }
    .step-number{
        width: unset;
        padding: 0px 5px 0px 0px;
    }
    .restoration-img-div{
        width: 50%;
        margin: auto;
    }
    .step-mt{
        margin-top: unset;
    }
    .restoration-img-f{
        height: 400px;
    }
    .restoration-img-l{
        height: 400px;
    }
    
    .steps-div-sec{
        width: 80%;
        margin: auto;
    }
    .services-block{
        box-sizing: border-box;
        padding: 17px;
        margin: auto;
        margin-bottom: 15px;
        border-radius: 7px;
    }
    .submit-button-services{
        padding: 12px 20px;
    }
    .serv-block-price{
        width: unset;
    }
    .serv-block-title{
        height: 40px;
        font-size: 18px;
    }
    .serv-block-description{
        font-size: 12px;
        margin-top: 20px;
        line-height: unset;
    }
    .services-title-h2{
        font-size: 24px;
    }
    .services-desc{
        font-size: 18px;
        margin-top: 20px;
    }
    .services-footer-icon-block{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .serv-p-block{
        font-size: 17px;
    }
    .serv-icon-block{
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .main-block-title{
        padding-top: 50px;
    }
    .photo-grid{
        grid-template-rows: 165px;
        grid-template-columns: 165px 165px 165px 165px;
        justify-content: center;
        row-gap: 15px;
        grid-gap: 15px;
    }
    .img-remodal-inside{
        width: 300px;
    }
    .contact-p{
        width: unset;
    }
    .contact-form-div{
        width: 45%;
        padding: 20px 35px;
        box-sizing: border-box;
    }
    #map{
        width: 50% !important;
        margin-bottom: 20px;
    }
    .footer-logo-div{
        margin: 0 auto;
    }
    .footer-c-width{
        margin: 0 auto;
    }
    .footer-bottom-mt{
        margin-top: 10px;
    }
    .footer-bottom-info{
        margin-bottom: 10px;
    }
    .footer-bottom-bg{
        height: 70px;
    }
    .footer-link{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer-con-title{
        font-size: 16px;
    }
    .footer-col-inf{
        font-size: 16px;
    }
    .footer-col-img{
        font-size: 16px;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1439px){
    .container{
        width: 80%;
    }
    .slogan-bg{
        background-position:bottom center;
        height: 500px;
        width: 100%;
        margin: auto 0;
        margin-top: 100px;
    }
    .slogan-inside{
        width: 550px;
        height: 350px;
        padding: 24px 60px;
        /* background-color: unset; */
    }
    .slogan-title-h3{
        font-size: 18px;
        line-height: unset;
    }
    .slogan-description-p{
        font-size: 14px;
        line-height: unset;
    }
    .form-dane{
        font-size: 16px;

    }
    .submit-button{
        width: 70% !important;
        margin: auto;
    }
    .button-submit{
        justify-content: unset;
    }
    .slogan-desc-below{
        font-size: 12px;
    }
    .slogan-ingo-p-left{
        width: 100%;
    }
    .slogan-info-p-right{
        width: 100%;
        margin-top: 10px;
    }
    .icon-div{
        width: 80px;
    }
    .icon-sl{
        font-size: 23px;
    }
    .icon-p{
        font-size: 14px;
    }
    .restoration-title-bg{
        height: 75px;
    }
    .restoration-info{
        width: 50%;
    }
    .restoration-img-div{
        height: 400px;
    }
    .restoration-info-title{
        width: 80%;
        align-items: center;
        margin: auto;
    }
    .restoration-title{
        font-size: 19px;
    }
    .restoration-title-text{
        font-size: 17px;
        width: 100%;
    }
    .steps-div-fir{
        width: 80%;
        margin: auto;
    }
    .step-number{
        width: unset;
        padding: 0px 5px 0px 0px;
    }
    .restoration-img-div{
        width: 50%;
        margin: auto;
    }
    .step-mt{
        margin-top: unset;
    }
    .restoration-img-f{
        height: 400px;
    }
    .restoration-img-l{
        height: 400px;
    }
    .steps-div-sec{
        width: 80%;
        margin: auto;
    }
    .services-block{
        width: 300px;
        box-sizing: border-box;
        padding: 30px;
        /* margin: auto; */
        /* margin-bottom: 15px; */
        border-radius: 7px;
    }
    .serv-block-price{
        width: unset;
    }
    .serv-block-title{
        height: 40px;
        font-size: 18px;
    }
    .serv-block-description{
        font-size: 12px;
        margin-top: 20px;
        line-height: unset;
    }
    .services-title-h2{
        font-size: 24px;
    }
    .services-desc{
        font-size: 18px;
        margin-top: 20px;
    }
    .services-footer-icon-block{
        width: 90%;
        margin: auto;
        margin-top: 20px;
    }
    .serv-p-block{
        font-size: 17px;
    }
    .serv-icon-block{
        justify-content: space-between;
        flex-direction: column;
        margin-bottom: 10px;
    }
    .main-block-title{
        padding-top: 50px;
    }
    .photo-grid{
        grid-template-rows: 240px;
        grid-template-columns: 240px 240px 240px 240px;
        justify-content: center;
        row-gap: 15px;
        grid-gap: 15px;
    }
    .img-remodal-inside{
        width: 300px;
    }
    .contact-p{
        width: unset;
    }
    .contact-form-div{
        width: 45%;
        padding: 20px 35px;
        box-sizing: border-box;
    }
    #map{
        width: 50% !important;
        margin-bottom: 20px;
    }

    .footer-logo-div{
        margin: 0 auto;
    }
    .footer-c-width{
        margin: 0 auto;
    }
    .footer-bottom-mt{
        margin-top: 10px;
    }
    .footer-bottom-info{
        margin-bottom: 10px;
    }
    .footer-bottom-bg{
        height: 70px;
    }
    .footer-link{
        font-size: 16px;
        margin-bottom: 20px;
    }
    .footer-con-title{
        font-size: 16px;
    }
    .footer-col-inf{
        font-size: 16px;
    }
    .footer-col-img{
        font-size: 16px;
    }
}
/* For big screens */
@media screen and (min-width: 1441px){
    .container{
        width: 1252px;
    }
    .container-steps{
        width: 1252px;
        margin: auto;
    }
}
.sticky  {
    box-shadow: 0 0 20px 0 #b1b1b1;
}
.restoration-main {
    padding: 60px 0;
}
.custom-input-margin {
    margin-top: 20px;
}