*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
::-moz-selection { /* Code for Firefox */
    color: white;
    background: #2684D1;
  }
  
  ::selection {
    color:white;
    background: #2684D1;
  }
select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
input:active, input:focus {
    outline: none;
  }
  input::-moz-focus-inner {
    border: 0;
  }
button:active, button:focus {
    outline: none;
  }
  button::-moz-focus-inner {
    border: 0;
}
.container{
    width: 80%;
    margin: auto;
}
.navbar{
    height: 110px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu{
    display: flex;
    width: 580px;
    justify-content: space-between;
}
.menu-item{
    list-style: none;
}
.menu-item-link{
    text-decoration: none;
    text-transform: uppercase;
    color: #30BFCE;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}
.menu-item-link:hover{
    color: #2B2B2B;
}
.slogan-bg{
    background-image: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 971px; */
    height: 771px;
}
.slogan-form-div{
    padding-top: 100px;
}
.slogan-inside{
    width: 500px;
    height: 434px;
    margin: auto;
    background-color: rgba(238, 238, 238, 0.78);
    border-radius: 24px;
    padding: 24px 60px 24px 60px;
}
.slogan-title-h3{
    font-size: 28px;
    color: #30BFCE;
    line-height: 47px;
    font-weight: 700;
    text-align: center;
}
.slogan-description-p{
    color: #484848;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.form-line{
    display: flex;
    flex-direction: column;
}
.form-dane{
    border-radius: 12px;
    width: 456px;
    height: 17px;
    margin-top: 21px;
    padding: 20px;
    border: 1px solid #30BFCE;
    background-color: white;
}
.form-dane::placeholder{
    color: #484848;
    font-size: 12px;
    font-weight: 400;
}
.form-dane:focus{
    border: 2px solid #30BFCE;
}
.slogan-desc-below{
    font-size: 10px;
    color: #484848;
    line-height: 18px;
    text-align: center;
    margin-top: 10px;
}
.button-submit{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.submit-button{
    width: 132px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    background-color: #30BFCE;
    border-radius: 12px;
    padding: 14px 26px;
    border: 2px solid #30BFCE;
    color: white;
}
.submit-button:hover{
    background-color: transparent;
    color: white;
}
.slogan-info-div{
    margin-top: 62px;
}
.slogan-info-title{
    color: #30BFCE;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.slogan-info-ps{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}
.slogan-ingo-p-left{
    width: 45%;
    font-size: 14px;
    font-weight: 400;
    color: #7C7C7C;
}
.slogan-info-p-right{
    width: 45%;
    font-size: 14px;
    font-weight: 400;
    color: #7C7C7C;
}
.slogan-span-bold{
    font-size: 14px;
    font-weight: 700;
    color: #7C7C7C;
}
.slogan-icons{
    width: 600px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.icon-div{
    width: 126px;
}
.icon-sl{
    color: #30BFCE;
    font-size: 39px;
    display: flex !important;
    justify-content: center;
}
.icon-p{
    margin-top: 15px;
    font-size: 14px;
    font-weight: 700;
    color: #7C7C7C;
    text-transform: uppercase;
    text-align: center;
}
.restoration-title-bg{
    background-color: #d5f3f7;
    height: 136px;
}
.restoration-title{
    font-size: 28px;
    font-weight: 700;
    color: #646464;
    text-align: center;
    padding-top: 42px;
}
.restoration-info{
    width: 500px;
    margin: auto;
}
.rest-first{
    display: flex;
    justify-content: space-between;
}
.restoration-img-div{
    width: 50%;
    height: 496px;
}
.restoration-img-f{
    width: 100%;
    height: 496px;
}
.restoration-img-l{
    width: 100%;
    height: 496px;
}
.restoaration-main-bg{
    background-color: #e6f7f9;
}
.restoration-info-title{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.restoration-title-ten{
    font-size: 30px;
    color: #30BFCE;
    font-weight: 700;
    width: 60px;
}
.restoration-title-text{
    font-size: 21px;
    font-weight: 700;
    color: #646464;
}
.step-mt{
    margin-top: 35px;
}
.step{
    display: flex;
    flex-direction: row;
    padding: 10px 0px;
    align-items: center;
}
.step-number{
    width: 50px;
    color: white;
    font-size: 32px;
    font-weight: 700;
    width: 10%;
}
.step-text{
    width: 75%;
    line-height: 18px;
    font-size: 14px;
    font-weight: 500;
    color: #7C7C7C;
}
.steps-div-fir{
    background-image: url(../img/steps-blob.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.steps-div-sec{
    background-image: url(../img/steps-bath.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.services-bg{
    padding-top: 45px;
    background-image: url(../img/servicesBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.services-title-h2{
    font-size: 28px;
    color: #30BFCE;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}
.services-desc{
    font-size: 24px;
    font-weight: 500;
    color: white;
    text-align: center;
    margin-top: 30px;
}
.services-footer-title{
    font-size: 24px;
    font-weight: 700;
    color: white;
    text-align: center;
    margin-top: 40px;
}
.services-blocks{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.services-block{
    width: 236px;
    padding: 30px 57px;
    background-color: white;
}
.serv-block-title{
    color: #30BFCE;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    height: 70px;
}
.serv-block-price{
    border: 2px solid #30BFCE;
    background-color: white;
    border-radius: 12px;
    color: #7C7C7C;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 20px;
    width: 190px;
    margin: auto;
    text-align: center;
    margin-top: 20px;
}
.serv-block-description{
    color: #7C7C7C;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    margin-top: 30px;
    line-height: 18px;
    height: 50px;
}
.services-block-form{
    margin-top: 23px;
    display: flex;
    justify-content: center;
}
.submit-button-services{
    background-color: #30BFCE;
    text-transform: uppercase;
    border: 2px solid #30BFCE;
    color: white;
    font-weight: 600;
    font-size: 14px;
    border-radius: 12px;
    padding: 14px 26px;
    width: 100%;
}
.submit-button-services:hover{
    background-color: transparent;
    color: #30BFCE;
}
.services-footer-icon-block{
    display: flex;
    justify-content: space-between;
}
.serv-p-block{
    color: white;
}
.services-footer-icon-block{
    padding-bottom: 60px;
    width: 1000px;
    margin: auto;
    margin-top: 40px;
}
.serv-icon-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.serv-p-block{
    margin-left: 10px;
    color: white;
    font-size: 24px;
    font-weight: 700;
}
.main-block-title{
    margin-top: 60px !important;
    color: #30BFCE;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.photo-grid{
    margin-top: 60px;
    display: grid;
    grid-template-columns: 260px 260px 260px 260px;
    grid-template-rows: 260px 260px 260px;
    row-gap: 70px;
    justify-content: space-between;    
}
.photo-item{
    width: 100%;
}
.contact-custom-p{
    padding-top: 50px ;
}
.contact-bg{
    background-color: #30BFCE1A;
    /* height: 700px; */
}
.contact-p{
    margin-top: 30px !important;
    color: #7C7C7C;
    font-size: 14px;
    font-weight: 400;
    margin: auto;
    text-align: center;
    width: 450px;
    margin-bottom: 50px;
}